
li {
    list-style: none;
}

a {
    text-decoration: none;
}
header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     }


.nav-logo {
  margin-right: auto; /* This will push the logo to the left */
}
.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    gap: 36px
    ;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    margin-right: auto;
    width: 731.53px;

    
    
}

.nav-item {
    margin-top: 10px;
    margin-left:10px;
    margin-bottom: 10px;

}
.nav-logo img{
    width: 124.47px;
height: 42.67px;
    

}


.nav-button{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 344px;
height: 44px;
}

.login a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;
    width: 88px;
    height: 44px; 
    background: #FFFFFF;
    border: 1px solid #7C7C7C;
    border-radius: 8px;
    color: #020202;
    text-decoration: none;

}
.register a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 20px;
    gap: 8px;
    color: #313131;
    width: 237px;
    height: 44px;
    text-decoration: none;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;

    border-radius: 8px;
}

.hamburger {
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 460px) {
    
    .nav-menu {
        display: inline-block;
        position: absolute;
        
    
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        backdrop-filter: blur(10px);
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
        gap: 30px;
        z-index:999 ;
        font-family: 'SF Pro Text';
        background-color: #ffffff;
        color: #000000;
        height:1000px;
        transition: height 0.5s ease;
    }
    
    .nav-menu.active {
      
        left:0 ;
   
       }
    .nav-link{
        cursor: pointer;
        font-family: 'SF-Pro-Display';
        font-size: 22px;
        font-weight: 600;
        
       &:hover{
        color: #ffffff;
       }
    }
    

    .nav-item {
        margin: 2rem;
        cursor: pointer;
        
    }
    .hamburger {
        display: block;
        cursor: pointer;
        
        
        

    }
    
.login a{
   display: block;

}
.register a{
   display: block;
}

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        //-webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        //-webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media only screen and (max-width: 768px) {
.nav-menu { display: none; }
.nav-item { margin-left: 1.5rem; }
.hamburger { display: block; cursor: pointer; }
.bar { width: 30px; }
.nav-button { display: none; }
.nav-menu.active {display: inline-block;
    position: absolute;
    
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    backdrop-filter: blur(5px);
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    gap: 30px;
    z-index: 999;
    font-family: 'SF Pro Text'; 
    background-color: #ffffff;
        color: #000000;
        height: 900px;
    
   }
    .nav-menu.active {
      
     left:0 ;

    }
.nav-item{ margin: 2rem;
    cursor: pointer;} 

    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        //-webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        //-webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
   
}